[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distreg.vis"]
	path = distreg.vis
	url = https://github.com/stan125/distreg.vis
